@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
  background: linear-gradient(to bottom, #222 0%, #2f2f2f 50%, #222 100%);
  padding: 0;
  margin: 0;
  width: 98vw;
  color: #fff8d6;
  font-family: "Lato", sans-serif;
  line-height: 150%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

blockquote {
  width: 80%;
  max-width: 1000px;
}


input {
  margin-top: 30px;
  background: #fff;
  border: solid 1px #ffa76b;
  padding: 7px;
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 18px;
  width: 40%;
  max-width: 800px;
}

input:focus {
  outline: solid 1px #fff8d6;
}

input::-webkit-input-placeholder {
  color: #ff9656;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #ff9656;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ff9656;
}

input:-ms-input-placeholder {
  color: #ff9656;
}

span {
  background: linear-gradient(to bottom, rgba(255, 85, 0, 0) 0%, rgba(255, 85, 0, 0) 45%, #ff5500 45%, #ff5500 75%, rgba(255, 85, 0, 0) 75%, rgba(255, 85, 0, 0) 100%);
}