#wrapper {
    padding:1rem 2rem 0 2rem;
}




#secondSlide {
   
    height: 30vh;
    margin-bottom: 70px;
    /* display: none; */
}

.draggable-elements {
    position: absolute;
    top: 0;
    right: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 2rem; */
}


.draggable {

    height: 3rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 1rem 0;
    cursor: move;
    background-color: #fff;
    border: 1px solid rgb(223, 98, 164);
    border-radius: 5px;
    transition: opacity 0.2s;
}

.draggable p {
    margin: 0;
}

/* .draggable:hover {
opacity: 0.5;
} */
.droppable {

    height: 3rem;
    width: 12rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    /* background-color: #fff; */
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}

#firstCont , #non_dragableOne {
    position: absolute;
    left: 27%;
}

#secondCont , #non_dragableTwo {
    position: absolute;
    left: 55%;
}

.contentImg img {
    width: 47vw;
    margin: 1% 25%;
}

.footText {
    position: absolute;
    bottom: -44vh;
    right: 3%;
    font-size: 18px;
    font-weight: bold;
}
