html,
body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#playercontainer {
  width: 100%;
  height: 100%;
  background: #111;
  overflow: hidden;
}

#player {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#player,
#controls {
  pointer-events: none;
}

#controls {
  position: relative;
  bottom: 62px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
  height: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

#progressholder {
  height: 5px;
  border-radius: 4px;
  background: rgba(61, 61, 61, 0.7);
  margin-bottom: 11px;
  cursor: pointer;
}

#buffered {
  height: 5px;
  border-radius: 4px;
  background: rgba(160, 160, 160, 0.4);
  width: 0;
}

#progress {
  position: relative;
  bottom: 5px;
  height: 5px;
  border-radius: 4px;
  background: rgba(255, 0, 0, 0.7);
  width: 0;
}

#progressholder:hover #progressorb {
  display: block;
}

#progressorb {
  position: relative;
  bottom: 14px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.7);
  display: none;
}

#playpause {
  font-size: 14pt;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

#muteUnmute {
  color: #fff;

}

#playpause:hover {
  color: #d3d3d3;
}

#progresstime {
  position: relative;
  right: 45px;
  top: 3px;
  font-size: 10pt;
  color: #fff;
  font-weight: bold;
  float: right;
}

#fullscreen {
  position: fixed;
  right: 25px;
  bottom: 10px;
  color: #fff;
  font-size: 14pt;
  cursor: pointer;
}