body {
  background-color: #a3d5d3;
}

.zoom-header {
  display: flex;
}

.zoomin {
  position: relative;
  z-index: 1000;
}
.main-container {
  width: 500px;
  height: 600px;
  background: blue;
  overflow: auto;
}
.zoomout {
  position: relative;
  z-index: 1000;
}

.maindiv {
  width: 500px;
  height: 600px;
  background: red;
  transform-origin:0% 0%;
}