.map svg{
    height: 65vh !important;
    width: auto !important;
}

.mapael .map {
    position: relative;
    text-align: center;
}

.mapael .mapTooltip {
    position: absolute;
    background-color: #fff;
    moz-opacity: 0.70;
    opacity: 0.70;
    filter: alpha(opacity=70);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #343434;
}

.mapael .areaLegend {
    text-align: center;
}

#instruction {
    text-align: center;
    font-size: 14px;
    font-family: Helvetica;
    font-style: italic;
    margin: 1% 0 0 8%;
}